<a href="https://colab.research.google.com/github/shriver42/ESAA/blob/%EC%97%B0%EC%8A%B5-%EB%AC%B8%EC%A0%9C/grouping%EF%BC%BFoccupation%EF%BC%BFExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [2]:
from urllib.request import urlopen
data = urlopen('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user').read()

### Step 3. Assign it to a variable called users.

In [5]:
from io import BytesIO
users = pd.read_csv(BytesIO(data),'|',index_col='user_id')

<ipython-input-5-4158b305cc62>:2: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  users = pd.read_csv(BytesIO(data),'|',index_col='user_id')

### Step 4. Discover what is the mean age per occupation

In [9]:
users.groupby('occupation').age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [18]:
users['male'] = users.gender.apply(lambda x: True if x == 'M' else False)
users.male

(users.groupby('occupation').male.sum()/users.groupby('occupation').gender.count()).sort_values(ascending=False)

occupation
doctor           1.000000
engineer         0.970149
technician       0.962963
retired          0.928571
programmer       0.909091
executive        0.906250
scientist        0.903226
entertainment    0.888889
lawyer           0.833333
salesman         0.750000
educator         0.726316
student          0.693878
other            0.657143
marketing        0.615385
writer           0.577778
none             0.555556
administrator    0.544304
artist           0.535714
librarian        0.431373
healthcare       0.312500
homemaker        0.142857
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [28]:
users.groupby(['occupation', 'gender']).age.agg([min,max])

                      min  max
occupation    gender
administrator F        22   62
              M        21   70
artist        F        19   48
              M        20   45
doctor        M        28   64
educator      F        23   51
              M        25   63
engineer      F        23   36
              M        22   70
entertainment F        24   38
              M        15   50
executive     F        39   49
              M        22   69
healthcare    F        22   53
              M        28   62
homemaker     F        20   50
              M        23   23
lawyer        F        28   51
              M        21   53
librarian     F        26   59
              M        23   69
marketing     F        24   50
              M        24   55
none          F        26   55
              M        11   33
other         F        18   55
              M        13   64
programmer    F        26   38
              M        20   63
retired       F        70   70
              M        51   73
salesman      F        18   33
              M        21   66
scientist     F        26   31
              M        23   55
student       F        13   38
              M         7   42
technician    F        38   38
              M        21   55
writer        F        18   56
              M        21   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [23]:
users.groupby(['occupation','gender']).age.mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [33]:
total_count.head()

               age  gender  zip_code  male
occupation
administrator   79      79        79    79
artist          28      28        28    28
doctor           7       7         7     7
educator        95      95        95    95
engineer        67      67        67    67

In [31]:
gender_count = users.groupby(['occupation', 'gender']).agg({'gender': 'count'})

total_count = users.groupby(['occupation']).count()

occup_gender = gender_count.div(total_count, level = "occupation")
occup_gender.loc[:, 'gender']

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: gender, dtype: float64